.App {
  text-align: center;
  font-family: Titanic;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #040f21, #1a4f79);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.logo {
  position: absolute;
  left: 20px;
  top: 0;
  height: 75px;
  width: 100px;
  object-fit: contain;
  object-position: center;
}

.logo>img {
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;

}

.navbar>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar>ul li {
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  cursor: pointer;
  color: #bcd6dd;
}

.navbar>ul li:last-child {
  margin-right: 0;
}

.navbar>ul li:hover {
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.navbar>ul li.active {
  color: #fff;
  border-bottom: 2px solid #59a0cc;
}

.navbar-logo {
  font-size: 28px;
  font-weight: bold;
  margin-right: auto;
  color: #bcd6dd;
  text-decoration: none;
}

.navbar-logo:hover {
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}



/* Login / Register */

.user-container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/titanic_background.jpg');
  background-size: cover;
  background-position: center;
}

.form-container {
  width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.form-input:focus {
  outline: none;
  border-bottom-color: #888;
}

.form-submit {
  width: 100%;
  padding: 10px;
  background: #1a4f79;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-submit:hover {
  background: #0e2d4d;
}

/* Home */
.presentation-container {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right, #040f21, #1a4f79);
  background-size: 200% auto;
  animation: waveAnimation 5s linear infinite;
  color: #fff;

}

.presentation-container h1 {
  margin-top: 60px;

}



.presentation-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  margin: 0 15%;
}

.presentation-text h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.presentation-text p {
  margin-bottom: 10px;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.scroll-down svg {
  display: block;
  margin: 0 auto;
  animation: bounce 2s infinite;
}

.scroll-down svg path {
  fill: #fff;
}

.scroll-down svg:hover path {
  fill: #bcd6dd;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}


.filter-button {
  padding: 8px 12px;
  background-color: #f2f2f2;
  color: #333;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #ccc;
}

.filter-button.active {
  background-color: #333;
  color: #fff;
}


/* Stats */
.contentPrincipal {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.windowsearch {
  flex: 1;
  margin-top: 60px;
}

.tabs-container {
  display: flex;
  height: 400px;
  margin-bottom: 100px;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
  background-color: #f0f0f0;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

.tab {
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab.active {
  background-color: #fff;
  border-bottom: 2px solid #333;
  color: #333;
}

.tab.graph {
  background-color: #f0f0f0;
  color: #333;
}

.tab.graph:hover {
  background-color: #e0e0e0;
}

.tab.active.graph {
  background-color: #fff;
  border-bottom: 2px solid #333;
}

.separator {
  width: 80%;
  height: 1px;
  background-color: #ccc;
  margin: 15px 10px;
}

.average-display {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  align-self: center;
}

.average-display.show {
  opacity: 1;
  transform: translateY(0);
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.average-display.show h3 {
  margin-top: 0;
}

.average-display.show .average-value {
  font-size: 18px;
  font-weight: bold;
}

.content {
  flex: 1;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* WindowSearch  */
.form-search {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.form-search label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-search input,
.form-search select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-search button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #45a049;
}

/* ---------------- Filtres */
.filtres-container {
  margin-top: 20px;
}

.filtres-container button {
  background-color: #f5f5f5;
  color: #555555;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filtres-container button:hover {
  background-color: #e0e0e0;
}

.filtres-container>div {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.filtres-container>div button {
  background-color: #ffffff;
  color: #555555;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filtres-container>div button:hover {
  background-color: #f0f0f0;
}

.toggleSurvivant {
  margin-bottom: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-search .toggleSurvivant label {
  margin-bottom: 0;
}

/* ---------------- Results */

.result {
  margin: 50px 15%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.result-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.result-card:hover {
  transform: translateY(-5px);
}

.result-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result-card-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.result-card-details {
  margin-top: 10px;
}

.result-card-details p {
  margin: 5px 0;
  font-size: 16px;
  color: #555555;
}

.result-card-details p.result-card-survived {
  color: green;
  font-weight: bold;
}

.result-card-details p.result-card-not-survived {
  color: red;
  font-weight: bold;
}


/* Media */

@media (min-width: 1024px) {

  /* Navbar */
  .navbar {
    height: 80px;

  }

  .navbar>ul li {
    font-size: 20px;
  }

  /* Formulaire user */
  .user-container {
    height: calc(100vh - 80px);
  }

  .form-container {
    max-width: 500px;
    margin: 80px auto;
  }

  .form-title {
    font-size: 26px;
  }

  .form-input,
  .form-submit {
    font-size: 18px;
  }

  /* Home */

  .presentation-text {
    font-size: 18px;
  }

  .presentation-text h2 {
    font-size: 26px;
  }

  /* Filter */

  .filter-button {
    font-size: 16px;
  }

}

@media (min-width: 1440px) {

  /* Navbar */
  .navbar {
    height: 100px;
  }

  .navbar>ul li {
    font-size: 22px;
  }

  /* Formulaire user */
  .user-container {
    height: calc(100vh - 100px);
  }

  .form-container {
    margin: 120px auto;
  }

  .form-title {
    font-size: 28px;
  }

  .form-input,
  .form-submit {
    font-size: 20px;
  }

  /* Home */

  .presentation-text {
    font-size: 20px;
  }

  .presentation-text h2 {
    font-size: 28px;
  }

  /* Filter */

  .filter-button {
    font-size: 18px;
  }
}

@media (min-width: 1920px) {

  /* Navbar */
  .navbar {
    height: 120px;
  }

  .navbar>ul li {
    font-size: 24px;
  }

  /* Formulaire user */
  .user-container {
    height: calc(100vh - 120px);
  }

  .form-container {
    margin: 140px auto;
  }

  .form-title {
    font-size: 30px;
  }

  .form-input,
  .form-submit {
    font-size: 22px;
  }

  /* Home */

  .presentation-text {
    font-size: 22px;
  }

  .presentation-text h2 {
    font-size: 30px;
  }

  /* Filter */

  .filter-button {
    font-size: 20px;
  }
}

/* Animations */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes waveAnimation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}